# Deployer of the contract, recommended to just use the admin
DEPLOYER_ADDRESS='0x'
DEPLOYER_PRIVATE_KEY='0x'

# Admin that has complete contract control abilities
ADMIN_ADDRESS='0x'
ADMIN_PRIVATE_KEY='0x'

# Station Manager that can execute certain machine station contract functions
STATION_MANAGER_ADDRESS='0x'
STATION_MANAGER_PRIVATE_KEY='0x'

# Refund amount of tx executor
TX_REFUND_AMOUNT='0'

BASE_URL_AGUNG='https://'
# Minimum balance an address should have before storage deposit funding is triggered
MIN_BALANCE_VALUE_AGUNG=350000000000000000
# Funding amount transferred to an address for storage deposit payment
FUNDING_AMOUNT_VALUE_AGUNG=500000000000000000

BASE_URL_PEAQ='https://'
MIN_BALANCE_VALUE_PEAQ=10000000000000000
FUNDING_AMOUNT_VALUE_PEAQ=50000000000000000

MIN_BALANCE_KEY="MIN_BALANCE"
FUNDING_AMOUNT_KEY="FUNDING_AMOUNT"